{% extends "project_generic.html" %}
<!-- Hero Section -->
{% block content %}
    <section class="hero" id="home">
        <h2 class="hero_header">HERO <span class="light">LIGHT</span></h2>
        <p class="tagline">Light is a simple one page website</p>
        </section>
    <!-- About Section -->
    <section class="about" id="about">
        <h2 class="hidden">Help</h2>
        <p class="text_column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </section>
    <section class="banner">
        <h2 class="parallax">PARALLAX HERO</h2>
        <p class="parallax_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </section>
    <!-- Stats Gallery Section -->
    <div class="gallery">
        <div class="thumbnail">
          <h1 class="stats">{{ test }}</h1>
          <h4>TITLE</h4>
          <p>One line description</p>
        </div>
        <div class="thumbnail">
          <h1 class="stats">2300</h1>
          <h4>TITLE</h4>
          <p>One line description</p>
        </div>
    </div>
{% endblock %}